<div class="container">
    <div class="redes">
        <h3>{{nosotros?.empresa}}</h3>
        <a *ngIf="nosotros?.instagram" rel="noopener" href="https://www.instagram.com/{{nosotros?.instagram}}" target="_blank">
            <img src="../../../assets/iconos/instagram.svg" alt="Instagram">
        </a>
        <a *ngIf="nosotros?.telefono" rel="noopener" href="https://wa.me/{{nosotros?.telefono}}" target="_blank">
            <img src="../../../assets/iconos/whatsapp.svg" alt="Whatsapp">
        </a>
    </div>
    <div class="firma">
        <p>Página desarrollada por <a rel="noopener" target="_blank" href="https://pablobarcala.com.ar">Pablo Barcala <img src="../../../assets/iconos/logo-pb.png" width="24" height="24" alt="Logo Pablo Barcala"></a></p> 
    </div>
</div>