.container {
    background-color: var(--main-color);
    margin-top: 50px;
    height: 7%;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 60px 70px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.redes h3 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 5px;
}

.redes img {
    transform: scale(0.6);
}

.container > p {
    font-size: 0.8rem;
}

p > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--second-dark-color);
}

/* -------- MEDIA QUERIES -------- */
@media (max-width: 550px) {
    .container {
        padding: 20px 30px;
    }

    .redes {
        gap: 5px;
    }

    .redes img {
        transform: scale(0.5);
    }
}