.container {
    padding: 20px 0;
}

.title {
    animation: mostrarTitle 0.4s ease forwards;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
}

form {
    display: flex;
    align-items: center;
}

input {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
}

input:focus {
    outline: none;
}

form > img {
    cursor: pointer;
    transform: scale(0.6);
}

.item {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    border-radius: 15px;
}

.categorias {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.categorias > div {
    cursor: default;
    background-color: #eee;
    padding: 5px 7px;
    border-radius: 15px;
}

@keyframes mostrarTitle {
    0% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }
}