<div class="container">
    <div class="title">
        <h2>{{navOpcion}}</h2>
        <form action="">
            <input type="text" placeholder="Buscar...">
            <img src="../../../../../assets/iconos/lupa.svg" alt="">
        </form>
    </div>
    <div 
        class="item"
        *ngFor="let producto of productosFiltrados" 
    >
        <img src="{{producto.imagen}}" width="10%" alt="Almohadones">
        <div class="info">
            <h3>{{producto.nombre}}</h3>
            <p>${{producto.precio}}</p>
            <div class="categorias">
                <div *ngFor="let categoria of producto.categorias">{{categoria.nombre}}</div>
            </div>
        </div>
    </div>
</div>