.container {
    padding: 20px 0;
}

.title {
    animation: mostrarTitle 0.4s ease forwards;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
}

form {
    display: flex;
    align-items: center;
}

input {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    transform: scale(0.6);
    background-color: transparent;
}

p {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 550px) {
    .title {
        flex-direction: column;
    }

    input {
        width: 100%;
    }
}

@keyframes mostrarTitle {
    0% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }
}