<div class="container">
    <div class="title">
        <h2 *ngIf="!buscando">{{navOpcion}}</h2>
        <h2 *ngIf="buscando">Buscar: {{this.buscar.get('nombre')?.value}}</h2>
        <form action="" [formGroup]="buscar" (submit)="buscarPorNombre()">
            <input type="text" placeholder="Buscar..." formControlName="nombre">
            <button type="submit">
                <img src="../../../../../assets/iconos/lupa.svg" alt="Buscar">
            </button>
        </form>
    </div>
    <p *ngIf="productosFiltrados.length == 0">~ NO HAY PRODUCTOS DISPONIBLES ~</p>
    <app-producto-item
        *ngFor="let producto of productosFiltrados" 
        [producto]="producto"
    ></app-producto-item>
</div>