<div class="header">
    <div class="titulo">
        <img width="100" height="100" src="{{nosotros?.imagen}}" alt="logo">
        <h1>{{nosotros?.empresa}}</h1>
    </div>
    <ul class="lista_pc">
        <li 
            *ngFor="let opcion of opciones" 
            routerLink="/main/{{opcion}}"
            [routerLinkActive]="'selected'"
        >{{opcion}}</li>
    </ul>
    <div class="iconos">
        <img (click)="abrirCarrito()" src="../../../assets/iconos/bolsa.svg" alt="Bolsa">
        <div class="cantidad">{{cantidad}}</div>
        <span class="precio">${{precio}}</span>
    </div>
</div>
<ul class="lista_cel">
    <li 
        *ngFor="let opcion of opciones" 
        routerLink="/main/{{opcion}}"
        [routerLinkActive]="'selected'"
    >{{opcion}}</li>
</ul>