/* ------- ESTILOS GENERALES ------- */
.header,
.titulo,
ul,
li,
.iconos {
    display: flex;
}

/* ------- HEADER ------- */

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    border-bottom: 1px solid #000;
}

/* ------- TITULO ------- */

h1 {
    font-size: 2.25rem;
    margin-right: 20px;
}

/* ------- MENU ------- */

ul {
    height: 90px;
    list-style: none;
    align-items: stretch;
}

li {
    cursor: pointer;
    align-items: center;
    padding: 0 10px;
    border-bottom: 10px solid transparent;
}

li:hover,
li.selected {
    border-bottom: 10px solid var(--main-color);
    transition: border-bottom 0.3s ease;
}

/* ------- ICONOS ------- */

.iconos {
    align-items: center;
    gap: 25px;
}

img {
    transform: scale(0.7);
    cursor: pointer;
}

.iconos > .cantidad {
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    font-size: 0.9rem;
    padding: 3px 6px;
    position: relative;
    right: 8%;
    top: -10px;
}

.precio {
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

form {
    display: none;
    padding: 1% 20%;
}

input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

input:focus {
    outline: none;
}

form.mostrar {
    display: flex;
    justify-content: flex-end;
    animation: mostrarBuscador 0.4s ease forwards;
}

@keyframes mostrarBuscador {
    0% {
        transform: translateX(50%);
    }

    70% {
        transform: translateX(-1%);
    }

    100% {
        transform: translateX(0);
    }
}