<div class="header">
    <div class="titulo">
        <h1>ANBAR</h1>
        <img src="../../../assets/iconos/sillon.svg" alt="Sillon">
    </div>
    <ul>
        <li 
            *ngFor="let opcion of opciones"
            [ngClass]="{'selected': opcion == navOpcion}"   
            (click)="cambiarOpcion(opcion)" 
        >{{opcion}}</li>
    </ul>
    <div class="iconos">
        <img src="../../../assets/iconos/lupa.svg" alt="Buscar">
        <img src="../../../assets/iconos/persona.svg" alt="Perfil">
        <img src="../../../assets/iconos/bolsa.svg" alt="Bolsa">
        <div class="cantidad">0</div>
        <span class="precio">$0,00</span>
    </div>
</div>