<div class="container">
    <div>
        <h5>Bolsa de compra</h5>
        <p *ngIf="productos.length == 0">~ No hay productos seleccionados ~</p>
        <div
            class="item"
            *ngFor="let producto of productos, index as i"    
        >
            <div class="icono"></div>
            <div class="info">
                <div>
                    <h5>{{producto.nombre}}</h5>
                    <h5>Cantidad: {{producto.cantidad}}</h5>
                    <div class="categoria" *ngFor="let categoria of producto.categorias">{{categoria.nombre}}</div>
                </div>
                <div>
                    <p>$ {{producto.precio * producto.cantidad}}</p>
                    <div class="eliminar_container">
                        <form action="">
                            <input 
                                title="Cantidad" 
                                type="number" 
                                min="0" 
                                max="{{producto.cantidad}}"
                            >
                        </form>
                        <button class="eliminar" (click)="eliminarDeCarrito(i, 1, producto)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="cerrar" (click)="cerrarCarrito()">
            <img src="../../../assets/iconos/back.svg" alt="Volver">
        </button>
        <div>
            <p>Compra total ${{precio}}</p>
            <button class="comprar" *ngIf="productos.length > 0" routerLink="/comprar">Comprar</button>
        </div>
    </div>

</div>