.container {
    position: absolute;
    z-index: 1;
    right: 0;
    min-height: 10%;
    width: 30%;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item,
.info {
    display: flex;
    align-items: center;
}

.item {
    padding: 20px 0;
    border-bottom: 1px solid var(--second-color);
    gap: 20px;
}

.icono {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
}

.info {
    width: 100%;
    justify-content: space-between;
}

h5 {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cerrar,
.comprar {
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: var(--second-color);
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cerrar {
    border-radius: 50%;
}

.cerrar:active,
.comprar:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.comprar {
    border-radius: 10px;
    margin-top: 10px;
}

.footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}