<div class="container">
    <div>
        <h5>Bolsa de compra</h5>
        <div
            class="item"
            *ngFor="let producto of productos"    
        >
            <div class="icono"></div>
            <div class="info">
                <div>
                    <h5>{{producto.nombre}}</h5>
                    <h5>Cantidad: {{producto.cantidad}}</h5>
                    <div class="categoria" *ngFor="let categoria of producto.categorias">{{categoria.nombre}}</div>
                </div>
                <div>
                    <p>$ {{producto.precio * producto.cantidad}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button (click)="cerrarCarrito()">
            <img src="../../../assets/iconos/back.svg" alt="Volver">
        </button>
        <p>Compra total ${{precio}}</p>
    </div>
</div>