<div class="container">
    <div class="title">
        <h2>Productos</h2>
        <div class="filtros_pc">
            <div
                *ngFor="let categoria of categorias"
                (click)="cambiarOpcion(categoria.nombre)"
                [ngClass]="{'selected': categoria.nombre == adminNavOpcion}"
            >{{categoria.nombre}}</div>
        </div>
        <button routerLink="add-producto">
            <img src="../../../../../assets/iconos/add.svg" alt="Agregar">
        </button>
    </div>
    <div class="filtros_cel">
        <div
            *ngFor="let categoria of categorias"
            (click)="cambiarOpcion(categoria.nombre)"
            [ngClass]="{'selected': categoria.nombre == adminNavOpcion}"
        >{{categoria.nombre}}</div>
    </div>
    <router-outlet></router-outlet>
    <div class="table">
        <div *ngIf="productosFiltrados.length == 0">
            No hay productos de {{adminNavOpcion}}
        </div>
        <div 
            class="elemento"
            *ngFor="let producto of productosFiltrados"
        >
            <div class="head_item">
                <img src="{{producto.imagen}}" width="50px" height="50px" alt="imagen">
                <h4>{{producto.nombre}}</h4>
                <div class="botones">
                    <button [routerLink]="['/admin/dashboard/edit-producto', producto.idproductos]">
                        <img src="../../../../../assets/iconos/edit.svg" alt="Editar">
                    </button>
                    <button (click)="deleteProducto(producto.idproductos)">
                        <img src="../../../../../assets/iconos/delete.svg" alt="Eliminar">
                    </button>
                </div>
            </div>
            <div class="info">
                <div class="item">
                    <h4>Precio</h4>
                    <p>{{producto.precio}}</p>
                </div>
                <div class="item" *ngIf="producto.oferta">
                    <h4>Oferta</h4>
                    <p>{{producto.oferta}}%</p>
                </div>
                <div class="item" [ngClass]="{'bajo-stock': producto.cantidad <= 5}">
                    <h4>Cantidad</h4>
                    <p>{{producto.cantidad}}</p>
                </div>
                <div class="item">
                    <h4>Categorias</h4>
                    <p>{{producto.categoria.nombre}}</p>
                </div>
                <div class="item">
                    <h4>Link de imagen</h4>
                    <p>{{producto.imagen}}</p>
                </div>
            </div>
            <div class="item">
                <h4>Descripción</h4>
                <p>{{producto.descripcion}}</p>
            </div>
        </div>
    </div>
</div>