.container {
    padding: 0 30px;
}

/* ----- TITULO DEL ADMIN PRODUCTOS ----- */

.title {
    display: flex;
    align-items: center;
    gap: 5%;
}

/* BOTON DE AGREGAR */

.title > button {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 50%;
    border: none;
}

/* --- FILTROS EN EL TITULO --- */

.title > .filtros {
    display: flex;
    gap: 20px;
}

.filtros > div {
    cursor: pointer;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 15px;
}

.filtros > div:hover {
    background-color: #e6e6e6;
}

.filtros > div.selected {
    background-color: var(--main-color);
    font-weight: 600;
}

h2 {
    padding: 20px 0;
}

/* ---- ESTILOS DEL ELEMENTO ---- */

.elemento {
    border-bottom: 15px solid var(--second-color);
}

.elemento,
.item {
    padding: 10px 0;
}

/* -- BOTONES DEL ELEMENTO -- */

.botones {
    margin: 15px 0;
}

.botones > button {
    cursor: pointer;
    padding: 5px;
    border: none;
    margin-right: 10px;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.botones > button:hover {
    background-color: #e6e6e6;
}

/* -- ENCABEZADO DEL ITEM -- */

.head_item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head_item > img {
    border-radius: 50%;
}

.item > h4,
.head_item {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 10px;
}

/* ESTILOS DE STOCK BAJO */

.bajo-stock {
    background-color: rgb(252, 131, 131);
    border-radius: 10px;
}

/* SECCION DESDE PRECIO HASTA IMAGEN */

.info {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}