<div class="container">
    <div class="title">
        <h2>Productos</h2>
        <div class="filtros">
            <div class="selected">Almohadones</div>
            <div>Muebles</div>
            <div>Mesas</div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categorias</th>
            <th>Descripcion</th>
            <th>Link de imagen</th>
            <th>Botones</th>
        </tr>
        <tr
            *ngFor="let producto of productos"
        >
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.cantidad}}</td>
            <td>
                <p
                    *ngFor="let categoria of producto.categorias"
                >{{categoria.nombre}}</p>
            </td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.imagen}}</td>
            <td>
                <button [routerLink]="['edit-producto', producto.idproductos]">Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>   
    </table>
</div>