<div class="container">
    <div class="title">
        <h2>Productos</h2>
        <div class="filtros">
            <div class="selected">Todo</div>
            <div>Almohadones</div>
            <div>Muebles</div>
            <div>Mesas</div>
        </div>
        <button routerLink="add-producto">
            <img src="../../../../../assets/iconos/add.svg" alt="Agregar">
        </button>
    </div>
    <router-outlet></router-outlet>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categorias</th>
            <th>Descripcion</th>
            <th>Link de imagen</th>
            <th>Botones</th>
        </tr>
        <tr
            *ngFor="let producto of productos"
        >
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td [ngClass]="{'bajo-stock': producto.cantidad <= 5}">{{producto.cantidad}}</td>
            <td>
                <p
                    *ngFor="let categoria of producto.categorias"
                >{{categoria.nombre}}</p>
            </td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.imagen}}</td>
            <td class="botones">
                <button [routerLink]="['edit-producto', producto.idproductos]">
                    <img src="../../../../../assets/iconos/edit.svg" alt="Editar">
                </button>
                <button (click)="deleteProducto(producto.idproductos)">
                    <img src="../../../../../assets/iconos/delete.svg" alt="Eliminar">
                </button>
            </td>
        </tr>   
    </table>
</div>