div {
    background-color: var(--bg-color);
    overflow: hidden;
}

div.main {
    padding: 0 130px;
}

/* -------- MEDIA QUERIES -------- */
@media (max-width: 550px) {
    div.main {
        padding: 0 30px;
    }
}