.container {
    min-height: 70vh;
}

.container-opciones {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    overflow: auto;
}

.container-opciones::-webkit-scrollbar {
    display: none;
}

.opcion {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #dbdbdb;
}

.opcion:hover {
    background-color: #cecece;
}

.opcion.selected {
    background-color: var(--main-dark-color);
    font-weight: 600;
    color: #fff;
}