<div class="container">
    <div class="title">
        <button routerLink="../">
            <img src="../../../../../assets/iconos/back.svg" alt="Volver atrás">
        </button>
        <h4>{{producto?.nombre}}</h4>
    </div>
    <div class="info">
        <img src="{{producto?.imagen}}" alt="Imagen del producto" width="40%" height="40%">
        <div class="detalles">
            <div class="precio">
                <h4>Precio:</h4>
                <p>${{producto?.precio}}</p>
            </div>
            <h4>Descripción</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi laboriosam, rem iste esse soluta dignissimos repudiandae, incidunt suscipit corrupti voluptas amet qui! Necessitatibus ad repudiandae quia perspiciatis reprehenderit suscipit nobis.</p>
        </div>
    </div>
</div>