<div class="container">
    <div class="aside">
        <span class="title"><h3>ANBAR</h3>Panel de control</span>
        <ul>
            <li routerLink="admin-productos" [routerLinkActive]="'selected'">Productos</li>
            <li routerLink="admin-categorias" [routerLinkActive]="'selected'">Categorias</li>
            <li [routerLinkActive]="'selected'">Acerca de</li>
            <li [routerLinkActive]="'selected'">Preguntas frecuentes</li>
            <li [routerLinkActive]="'selected'">Contacto</li>
        </ul>
        <button routerLink="">Ir a la página</button>
    </div>
    <router-outlet></router-outlet>
</div>