.container {
    padding: 20px 0;
}

.subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

.recomendados {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 6.66%;
}

/* -------- MEDIA QUERIES -------- */
@media (max-width: 770px) {
    .recomendados {
        grid-template-columns: repeat(2, 45%);
        column-gap: 10%;
    }
}