<div class="container">
    <div class="title">
        <h2>Acerca de</h2>
        <button>
            <img src="../../../../../assets/iconos/add.svg" alt="Agregar">
        </button>
    </div>
    <router-outlet></router-outlet>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Empresa</th>
            <th>Información</th>
            <th>Imagen</th>
            <th>Telefono</th>
            <th>Mail</th>
            <th>Botones</th>
        </tr>  
        <tr>
            <td>{{nosotros?.nombre}}</td>
            <td>{{nosotros?.apellido}}</td>
            <td>{{nosotros?.empresa}}</td>
            <td>{{nosotros?.informacion}}</td>
            <td>{{nosotros?.imagen}}</td>
            <td>{{nosotros?.telefono}}</td>
            <td>{{nosotros?.mail}}</td>
            <td class="botones">
                <button [routerLink]="['edit-acerca-de', nosotros?.idnosotros]">
                    <img src="../../../../../assets/iconos/edit.svg" alt="Editar">
                </button>
            </td>
        </tr>
    </table>
</div>