<div class="container">
    <div class="title">
        <h2>Categorías</h2>
        <button routerLink="add-categoria">
            <img src="../../../../../assets/iconos/add.svg" alt="Agregar">
        </button>
    </div>
    <router-outlet></router-outlet>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Botones</th>
        </tr>  
        <tr
            *ngFor="let categoria of categorias"
        >
            <td>{{categoria.nombre}}</td>
            <td class="botones">
                <button [routerLink]="['edit-categorias', categoria.idcategorias]">
                    <img src="../../../../../assets/iconos/edit.svg" alt="Editar">
                </button>
                <button>
                    <img src="../../../../../assets/iconos/delete.svg" alt="Eliminar">
                </button>
            </td>
        </tr>
    </table>
</div>