<div class="container">
    <h3>Acerca de "ANBAR"</h3>
    <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum impedit sint voluptatum doloremque deleniti ullam amet porro, harum rem unde, perferendis quia praesentium tenetur quae assumenda maiores laborum neque eveniet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum impedit sint voluptatum doloremque deleniti ullam amet porro, harum rem unde, perferendis quia praesentium tenetur quae assumenda maiores laborum neque eveniet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum impedit sint voluptatum doloremque deleniti ullam amet porro, harum rem unde, perferendis quia praesentium tenetur quae assumenda maiores laborum neque eveniet.</p>
    </div>
</div>