<div class="container">
    <div class="compra">
        <h4>Compra</h4>
        <p>Elegir una opción para el pago. El envío se debe arreglar con el vendedor</p>
        <form action="" [formGroup]="compraForm">
            <label>
                <input type="radio" formControlName="opcion" value="pagina">
                <span>Pagar en la página</span>
            </label>
            <label>
                <input type="radio" formControlName="opcion" value="acordar">
                <span>Acordar con el vendedor</span>
            </label>
        </form>
        <button routerLink="/finalizacion">Avanzar</button>
    </div>
    <div class="productos">
        <h4>Productos</h4>
        <div class="producto" *ngFor="let producto of productos">
            <span>{{producto.nombre}} - {{producto.cantidad}} <span *ngIf="producto.cantidad > 1">unidades</span><span *ngIf="producto.cantidad == 1">unidad</span></span>
            <p *ngIf="!producto.oferta">$ {{producto.precio * producto.cantidad}}</p>
            <p *ngIf="producto.oferta">$ {{(producto.precio * (1 - producto.oferta / 100)) * producto.cantidad}}</p>
        </div>
        <div class="total">
            <span>Total:</span>
            <p>${{precio}}</p>
        </div>
    </div>
</div>
<!-- ---------- TABLA OCULTA PARA PDF ----------- -->
<table id="pdfTable">
    <h3>ANBAR</h3>
    <p>Orden de compra</p>

    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let producto of productos">
        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        <td *ngIf="!producto.oferta">${{producto.precio * producto.cantidad}}</td>
        <td *ngIf="producto.oferta">${{(producto.precio * (1 - producto.oferta / 100)) * producto.cantidad}}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>${{precio}}</td>
    </tr>
</table>