<div class="item" *ngIf="producto && producto.cantidad > 0">
    <img src="{{producto.imagen}}" width="10%" height="10%" alt="Almohadones">
    <div class="info">
        <div>
            <h3>{{producto.nombre}}</h3>
            <span><span [ngClass]="{'anterior': producto.oferta > 0}">${{producto.precio}}</span><span *ngIf="producto.oferta > 0">${{producto.precio * (1 - (producto.oferta / 100))}} (-{{producto.oferta}}%)</span></span>
            <div class="categorias">
                <div>{{producto.categoria.nombre}}</div>
            </div>
            <p *ngIf="producto.cantidad > 5" class="stock">Stock disponible</p>
            <p *ngIf="producto.cantidad <= 5" class="stock">Últimas unidades!</p>
        </div>
        <p class="error" *ngIf="cantidad.get('cantidad')?.value == producto.cantidad">No se pueden seleccionar más unidades</p>
        <div class="botones">
            <button [routerLink]="['/main/Productos', producto.idproductos]">Ver más</button>
            <form action="" [formGroup]="cantidad">
                <input 
                    title="Cantidad" 
                    type="number" 
                    min="0" 
                    max="{{producto.cantidad}}" 
                    formControlName="cantidad"
                >
            </form>
            <button (click)="agregarCarrito(producto)">Agregar</button>
        </div>
    </div>
</div>