.container {
    padding: 20px 0;
    min-height: 70vh;
}

h3 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.info > p > .title {
    font-weight: 600;
}

.info > p {
    font-size: 1.3rem;
    padding: 10px 0;
}