/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    --bg-color: #eee;
    /* --main-color: #adc5b7; */
    /* --second-color: #c7c1b5; */
    --main-light-color: #c1cec3;
    --main-color: #9CAFA0;
    --main-dark-color: #758c7a;
    --second-light-color: #c3a6a6;
    --second-color: #AD8888;
    --second-dark-color: #956d6d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}