button {
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.eliminar {
    background-color: var(--second-light-color);
}