<div class="container">
    <h3>Producto x</h3>
    <button routerLink="../">Cerrar</button>
    <button>Guardar</button>
    <form action="">
        <input type="text" placeholder="Nombre">
        <input type="number" placeholder="Precio">
        <input type="number" placeholder="Cantidad">
        <select name="" id="">
            <option value="Muebles">Muebles</option>
            <option value="Mesa">Mesa</option>
            <option value="Almohadones">Almohadones</option>
        </select>
        <input type="text" placeholder="Descripción">
        <input type="text" placeholder="Link de imagen">
    </form>
</div>