<div class="container">
    <form action="" [formGroup]="form">
        <input type="text" placeholder="Nombre" formControlName="nombre">
        <input type="number" placeholder="Precio" formControlName="precio">
        <input type="number" placeholder="Cantidad" formControlName="cantidad">
        <select name="categorias" id="categorias" title="categorias">
            <option value="Muebles">Muebles</option>
            <option value="Mesa">Mesa</option>
            <option value="Almohadones">Almohadones</option>
        </select>
        <input type="text" placeholder="Link de imagen" formControlName="imagen">
        <input type="text" placeholder="Descripción" formControlName="descripcion">
    </form>
    <button>Guardar</button>
    <button routerLink="../../">Cerrar</button>
</div>