.container {
    padding: 0 30px;
}

button {
    cursor: pointer;
    margin-right: 20px;
    border: none;
    background-color: var(--main-dark-color);
    padding: 5px 15px;
    color: #fff;
    border-radius: 10px;
}

form {
    padding: 20px 0;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    column-gap: 10%;
}

input,
textarea,
select {
    border: none;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1rem;
    font-family: "Trebuchet MS";
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

textarea,
.link-input {
    min-width: 90%;
    max-width: 90%;
}

textarea {
    min-height: 100px;
    max-height: 500px;
}

.error {
    color: red;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

label {
    display: block;
    font-weight: 600;
    padding: 5px 0;
}